/** Geonovum Logo *************************************************************/

.head p:not(.copyright):first-child {
  margin: 0;
}

.head p:not(.copyright):first-child>a,
.head>a:first-child {
  float: right;
  margin: 0.4rem 0 0.2rem .4rem;
}

.head a:hover>img[src*="logos/Geonovum"],
.head a:focus>img[src*="logos/Geonovum"] {
  opacity: .8;
}

/* Backout above styling for Geonovum logo */
.head p:not(.copyright)>a,
.head>a:first-child {
  border: none;
  text-decoration: none;
  background: transparent;
}

/*
Thijs Brentjens Geonovum: a fix to show images that get a width=0 and height=0 by ReSpec and thus are hidden
See https://github.com/Geonovum/respec/issues/153
todo possibly won't work with import: check!
 */
.figure img,
.sidefigure img,
figure img,
.figure object,
.sidefigure object,
figure object {
  /*height: 100%;*/
  width: auto;
}

/* end customization Geonovum fix */

/* Thijs Brentjens Geonovum add a thin border for tables as a default  */
/* TODO :fix issue with localstyle for https://docs.geostandaarden.nl/md/mdprofiel-iso19115/ */

/*
table, tr, td, th {
    border: none;
}

td {
    border-top: 1px solid #ddd;
}
*/

